@import url("https://fonts.googleapis.com/css2?family=Lobster&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

.platzhalter {
  height: 300vh;
}

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Inter", sans-serif;
  background-color: #303030;
  color: #fff; /* Text Farbe */

  --primary-color: #ff3030;
  --text-color: #ddd;
}

.nav {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 1rem;
  height: 5rem;
  font-size: 0.8rem /* Schriftgröße */;
}
.nav-item {
  text-transform: uppercase; /* Text in Großbuchstaben */
  text-decoration: none; /* kein Unterstrich */
  letter-spacing: 0.1rem; /* Abstand zwischen den Buchstaben */
  color: white; /* Textfarbe */
  transition: all 0.3s ease-in-out; /* sanfter Übergang */
}
.nav-item:hover {
  background-color: transparent; /* dunkler beim Hover */
  color: var(--primary-color); /* Textfarbe beim Hover */
}

.title {
  margin: 0 0 1rem 0; /* 0oben 0rechts 1rem unten  0links*/
  font-family: "Lobster", cursive;
  font-size: 3rem;
  line-height: 3rem;
}

.subtitle {
  font-size: 1rem;
  color: var(--text-color);
}

.hero {
  height: calc(100vh - 5rem); /* 100vh - 5rem (Navigation)*/
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)),
    url("./Picture/hero.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
}

.hero-action {
  margin-top: 4rem;
}

.button {
  width: fit-content; /* damit padding und border wirken */
  padding: 1rem 2rem; /* 1rem oben und unten, 2rem links und rechts */
  border: 0.1rem solid var(--primary-color); /* Rahmen */
  color: white; /* Textfarbe */
  text-decoration: none; /* kein Unterstrich */
  font-size: 1rem; /* Schriftgröße */
  font-family: "Inter", sans-serif; /* Schriftart */
  background-color: var(--primary-color); /* Hintergrundfarbe */
  transition: all 0.3s ease-in-out; /* sanfter Übergang */
}

.button:hover {
  background-color: transparent; /* dunkler beim Hover */
  color: var(--primary-color); /* Textfarbe beim Hover */
}

.container {
  max-width: 85%;
  margin: 0 auto;
}

.about-title {
  margin: 2rem 0 1rem 0;
  width: fit-content;
  text-decoration: underline var(--primary-color);
  letter-spacing: 0.1rem; /* Abstand zwischen den Buchstaben */
  text-transform: uppercase; /* Text in Großbuchstaben */
}

.about {
  display: grid;
  gap: 2rem;
}

.about-content {
  display: flex;
  flex-direction: column;
}

.about-text {
  font-size: 0.9rem;
  color: var(--text-color);
}

.about-action {
  margin-top: 2rem;
}

.about-images {
  width: 100%;
  display: flex;
  gap: 1rem;
}
.about-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.about-image-large {
  min-width: 50%;
}

.about-images-small {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 100%;
}

@media only screen and (min-width: 600px) {
  .nav {
    gap: 2rem;
    font-size: 1rem; /* Schriftgröße */
  }

  .title {
    font-size: 4rem;
    line-height: 4rem;
  }
  .subtitle {
    font-size: 1.5rem;
  }

  .button {
    font-size: 1.2rem; /* Schriftgröße */
    padding: 1.2rem 2.5rem; /* 1rem oben und unten, 2rem links und rechts */
  }

  .about-text {
    font-size: 1rem;
  }
}

@media only screen and (min-width: 1000px) {
  .nav {
    gap: 3rem;
  }

  .title {
    font-size: 6rem;
    line-height: 6rem;
  }
  .about-title {
    font-size: 2rem;
  }

  .about {
    grid-template-columns: 1fr 1fr;
    margin-top: 6rem;
    align-items: center;
  }
}

@media only screen and (min-width: 1400px) {
  .container {
    max-width: 1200px;
  }
}
