@import url("https://fonts.googleapis.com/css2?family=Lobster&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

.platzhalter {
  height: 300vh;
}

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Inter", sans-serif;
  background-color: #303030;
  color: #fff; /* Text Farbe */

  --primary-color: #ff3030;
}

.title {
  margin: 0 0 1rem 0; /* 0oben 0rechts 1rem unten  0links*/
  /*   font-size: clamp(1em, calc(1em + 1vw), 2rem); */
  font-family: "Lobster", cursive;
  font-size: 3rem;
  line-height: 3rem;
}

@media only screen and (min-width: 600px) {
  .title {
    font-size: 4rem;
    line-height: 4rem;
  }
  .subtitle {
    font-size: 1.5rem;
  }

  .hero-action {
    font-size: 1.2rem; /* Schriftgröße */
    padding: 1.2rem 2.5rem; /* 1rem oben und unten, 2rem links und rechts */
  }
}

@media only screen and (min-width: 1000px) {
  .title {
    font-size: 6rem;
    line-height: 6rem;
  }
}

.subtitle {
  font-size: 1rem;
  color: #ddd;
}

.hero {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)),
    url("./Picture/hero.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
}

.hero-action {
  margin-top: 4rem;
  padding: 1rem 2rem; /* 1rem oben und unten, 2rem links und rechts */
  border: 0.1rem solid #dc203c; /* Rahmen */
  color: white; /* Textfarbe */
  text-decoration: none; /* kein Unterstrich */
  font-size: 1rem; /* Schriftgröße */
  font-family: "Inter", sans-serif; /* Schriftart */
  background-color: #dc203c; /* Hintergrundfarbe */
  transition: all 0.3s ease-in-out; /* sanfter Übergang */
}
.hero-action:hover {
  background-color: transparent; /* dunkler beim Hover */
  color: #dc203c; /* Textfarbe beim Hover */
}

.navigation {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  height: 5rem;
  padding: 0 1rem;
  font-size: 0.8rem;
  text-align: center;
}
.nav-action {
  margin-top: 0rem;
  /* padding: 1rem 2rem; /* 1rem oben und unten, 2rem links und rechts */
  color: white; /* Textfarbe */
  font-size: 0.5rem; /* Schriftgröße */
  text-decoration: none; /* kein Unterstrich */
  gap: 0.1rem;
  font-family: "Inter", sans-serif; /* Schriftart */
  transition: all 0.3s ease-in-out; /* sanfter Übergang */
  font-size: 1.5rem;
}
.nav-action:hover {
  background-color: transparent; /* dunkler beim Hover */
  color: #dc203c; /* Textfarbe beim Hover */
}
