@import url("https://fonts.googleapis.com/css2?family=Lobster&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

.platzhalter {
  height: 300vh;
}

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Inter", sans-serif;
  background-color: #303030;
  color: #fff; /* Text Farbe */

  --primary-color: #ff3030;
}

.nav {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 1rem;
  height: 5rem;
  font-size: 0.8rem /* Schriftgröße */;
}
.nav-item {
  text-transform: uppercase; /* Text in Großbuchstaben */
  text-decoration: none; /* kein Unterstrich */
  letter-spacing: 0.1rem; /* Abstand zwischen den Buchstaben */
  color: white; /* Textfarbe */
  transition: all 0.3s ease-in-out; /* sanfter Übergang */
}
.nav-item:hover {
  background-color: transparent; /* dunkler beim Hover */
  color: var(--primary-color); /* Textfarbe beim Hover */
}

.title {
  margin: 0 0 1rem 0; /* 0oben 0rechts 1rem unten  0links*/
  font-family: "Lobster", cursive;
  font-size: 3rem;
  line-height: 3rem;
}

.subtitle {
  font-size: 1rem;
  color: #ddd;
}

.hero {
  height: calc(100vh - 5rem); /* 100vh - 5rem (Navigation)*/
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)),
    url("./Picture/hero.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
}

.hero-action {
  margin-top: 4rem;
  padding: 1rem 2rem; /* 1rem oben und unten, 2rem links und rechts */
  border: 0.1rem solid var(--primary-color); /* Rahmen */
  color: white; /* Textfarbe */
  text-decoration: none; /* kein Unterstrich */
  font-size: 1rem; /* Schriftgröße */
  font-family: "Inter", sans-serif; /* Schriftart */
  background-color: var(--primary-color); /* Hintergrundfarbe */
  transition: all 0.3s ease-in-out; /* sanfter Übergang */
}
.hero-action:hover {
  background-color: transparent; /* dunkler beim Hover */
  color: var(--primary-color); /* Textfarbe beim Hover */
}

.about {
  margin: 0 2rem 0 2rem;
  display: flex;
  flex-direction: column;
  text-align: left;
  align-items: flex-start;
}

.about-title {
  padding: 2rem 0rem 0;
  text-transform: uppercase;
  font-size: 1.5rem;
  margin-bottom: 1rem;
  text-decoration: underline var(--primary-color);
  letter-spacing: 0.1rem;
}

.about-text {
  font-size: 1rem;
  color: #ddd;
  text-align: left;
}

@media only screen and (min-width: 600px) {
  .nav {
    gap: 2rem;
    font-size: 1rem; /* Schriftgröße */
  }

  .title {
    font-size: 4rem;
    line-height: 4rem;
  }
  .subtitle {
    font-size: 1.5rem;
  }

  .hero-action {
    font-size: 1.2rem; /* Schriftgröße */
    padding: 1.2rem 2.5rem; /* 1rem oben und unten, 2rem links und rechts */
  }
}

@media only screen and (min-width: 1000px) {
  .nav {
    gap: 3rem;
  }

  .title {
    font-size: 6rem;
    line-height: 6rem;
  }
}
